#move_it{
	float: right;
}
*{
	margin:0px;
	padding:0px
}

#container{
	background-color:none;
	padding:30px;
	width:300px;
}

#dropMenu{
	display: none;
  height: 75px;
  overflow: auto;
  width: 200px;
}

#container:hover #dropMenu {
  display:block;
}